{% extends 'AdminBundle::layout.html.twig' %}

{% block pageContainer %}
				<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Error {{ status_code }}
                        </h1>

                        <div class="row">
                            <div class="col-sm-12 page-error">
                                <div class="error-number bricky text-danger">
                                    {{ status_code }}
                                </div>
                                <div class="error-details col-sm-6 col-sm-offset-3">
                                    <h3>Oops! {{ status_text }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
{% endblock %}